*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    /* display: flex; */
    justify-content: center;
    background-image: url("../images/under-construction.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}