*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    justify-content: center;
}
h1{
    font-family: 'luckiest Guy', cursive;
    font-size: 4rem;
    color:black;
    padding-top: 2.4em;
    text-align: center;
}
nav ul {
    text-align: justify;
    min-width: 500px;
    z-index: 5;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-left: 0.0%;
    padding: 0.5rem;
    overflow: hidden;
    padding-top: 0;
    
  }
  li {
    display: inline-block;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding:0.7rem 6rem ;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #222;
  }
  /* li h2{
      z-index: 3;
      color:white;
      text-align: center;
      
  } */
#mynav{
    text-align: center;
    background-color: #134B5C;
}

.header{
    height: 20rem;
    /* width:99.5%; */
    /*margin-top: 0.05%;*/
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/borders-r.jpg");
    /*background-size: cover;*/
/*    background-repeat: repeat;*/
    /*background-position: 60% 60%;*/
}
.container{
    position: relative;
    margin-top: 2%;
    /* margin-bottom: 2%; */
    margin-left: auto;
    margin-right: auto;
    width: 90rem;
    height: 28rem;
    border: 6px solid black;
}
.container .box{
    position: absolute;
    width:100%;
    height:100%;
    margin-left: auto;
    margin-right: auto;
}
.container .box:nth-child(1){
    background: url("../images/header-bg 11.png");
    
}
.container .box:nth-child(2){
    background: url("../images/header-bg 21.png");
    z-index: 2;
    transition: 0.5s;
    clip-path: polygon(50% 0, 0 0, 0 100%, 50% 100%);
}
.container .box:nth-child(1):hover{
    cursor: pointer;
}
.container .box:nth-child(2):hover{
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    cursor: pointer;
}
.container .box:nth-child(1):hover ~
.box:nth-child(2){
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
   
}

footer {
    /* position: fixed; */
    /*background-size: cover;*/
    margin-top: 2%;
    /*margin-bottom: 2%;*/
    padding-bottom: 1%;
    padding-top: 1.5rem;
    left: 0;
    bottom: 0;
    /*width: 100%;
    height:5rem;
    height: 100%;
*/    /*background: url("../images/borders-r.jpg");*/
    color: white;
    text-align: center;
    background-color: #134B5C;
  }